@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    margin-top: 8rem; 
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: background 0.2s;
}


.header.sticky {
    background: var(--bg-color); 
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;
    display: flex; 
    align-items: center; 
}

.navbar a {
    font-size: 1.9rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: color 0.2s, transform 0.2s;
    position: relative; 
    padding: 0.5rem 0; 
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    transform: scale(1.1); 
}

.navbar div {
    display: flex;
    align-items: center; 
    margin-left: auto; 
}

.navbar span {
    margin-left: 30px; 
    font-size: 2rem; 
    font-weight: 500; 
    color: var(--main-color); 
}

.navbar a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--main-color);
    transition: width 0.2s; 
    position: absolute;
    left: 50%;
    bottom: -5px; 
    transform: translateX(-50%); 
}

.navbar a:hover::after,
.navbar a.active::after {
    width: 100%; 
}
#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url('/images/home.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 100rem;
    z-index: 99;
}
.home-imgHover {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    opacity: 0.2;
}

.home-imgHover:hover {
    opacity: .8;
}

.home-content h2 {
    position: relative;
    display: inline-block;
    font-size: 3.12rem; 
    font-weight: 700;
    line-height: 1.3;
}

.home-content h2 span {
    color: var(--text-color);
}

.home-content .text-animate {
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h1 {
    /* change here */
    font-size: 5.05rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .8px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
}

.home.show-animate .home-content .text-animate h1 {
    animation: homeBgText 6s linear infinite;
    animation-delay: 1s;
}

.home-content .text-animate h1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
}

.home.show-animate .home-content .text-animate h1::before {
    animation: homeCursorText 6s linear infinite;
    animation-delay: 1s;
}

.home-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--main-color);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: var(--bg-color);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.audio-box {
    margin-top: 20px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--main-color);
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}

.about-content {
    text-align: center;
}

.about-content h3 {
    position: relative;
    display: inline-block;
    font-size: 2.6rem;
}

.about-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 35rem;
}

.btn-box.btns a::before {
    background: var(--second-bg-color);
}
#recorded-audio {
    display: none;
}

#download-link {
    display: none;
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    position: relative;
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content .year i {
    padding-right: .4rem;
}

.education-content .content h3 {
    font-size: 5rem;
        color: #ffffff; /* Add this line to make the text white */
}

.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
    color:#ffffff
}
.skills{
    background: var(--second-bg-color);
}
.speech-to-text {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
    text-align: center;
}

.speech-to-text .heading {
    font-size: 7rem;
    margin-bottom: 1.5rem;
}
#process-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    background: var(--main-color);
    color: #fff;
    transition: background 0.3s;
}

#process-button:hover {
    background: darken(var(--main-color), 10%); /* Adjusted to match hover effect */
}


.speech-box {
    display: inline-block;
    border: .5rem solid var(--main-color);
    border-radius: 1.0rem;
    padding: 3rem;
    background: var(--bg-color);
    position: relative;
     box-sizing: border-box; /* Include padding and border in width/height calculations */
    overflow: hidden; /* Hide overflow to prevent scrolling */
    width:100%;
}

.speech-box textarea {
    width: 100%; /* Ensure full width of the container */
    height: 300px;
    border: none;
    background: transparent;
    resize: none; /* Prevent manual resizing */
    font-size: 2rem;
    color: var(--text-color);
    box-sizing: border-box; /* Include padding and border in width/height calculations */
    overflow: hidden; /* Hide any overflow content */
    white-space: pre-wrap; /* Preserve whitespace and allow wrapping */
    word-wrap: break-word; /* Ensure long words break to the next line */
    line-height: 1.5; /* Adjust line height for better readability */
}

.speech-box button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    background: var(--main-color);
    color: #fff;
    transition: background 0.3s;
}

.speech-box button:hover {
    background: darken(var(--main-color), 10%);
}

.encryption-section {
    min-height: 200vh; /* Full viewport height */
    padding: 2rem; /* Reduced padding to fit content better */
    background: var(--second-bg-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Hide any overflow */
}

.encryption-section .heading {
    font-size: 7rem; /* Reduced font size */
    margin-bottom: 5rem; /* Reduced margin */
    margin-top: 5rem;
}

.encryption-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5rem solid var(--main-color);
    border-radius: 1.0rem;
    padding: 2rem; /* Reduced padding */
    background: var(--bg-color);
    position: relative;
    text-align: center;
    width: 100%; /* Adjusted width */
    max-width: 1000px; /* Reduced max-width */
    height: auto;
    overflow: hidden; /* Hide overflow */
}
#generate-key-button{
    margin-top: 2rem; /* Adjusted margin for uniform spacing */
    padding: 0.8rem 1.5rem;
    font-size: 2rem; /* Reduced font size */
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    background: var(--main-color);
    color: #fff;
    transition: background 0.3s;
    text-align: center;}
#process-encryption-button{
    margin-top: 6rem; /* Adjusted margin for uniform spacing */
    padding: 0.8rem 1.5rem;
    font-size: 2rem; /* Reduced font size */
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    background: var(--main-color);
    color: #fff;
    transition: background 0.3s;
    text-align: center;
}
#download-encrypted-file {
    margin-top: 1rem; /* Adjusted margin for uniform spacing */
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem; /* Reduced font size */
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    background: var(--main-color);
    color: #fff;
    transition: background 0.3s;
    text-align: center;
}

#generate-key-button:hover,
#process-encryption-button:hover,
#download-encrypted-file:hover {
    background: darken(var(--main-color), 10%);
}

#upload-key {
    display: none;
}

#upload-key-label{
    margin-top: 3rem; /* Reduced margin for consistency */
    padding: 0.5rem 1rem;
    font-size: 2rem; /* Reduced font size */
    border: 2px solid var(--main-color);
    border-radius: 0.3rem;
    background: var(--bg-color);
    color: var(--main-color);
    cursor: pointer;
    transition: background 0.3s;
}
#upload-audio {
    margin-top: 1rem; /* Reduced margin for consistency */
    padding: 0.5rem 1rem;
    font-size: 2rem; /* Reduced font size */
    border: 2px solid var(--main-color);
    border-radius: 0.3rem;
    background: var(--bg-color);
    color: var(--main-color);
    cursor: pointer;
    transition: background 0.3s;
}

#upload-key-label:hover,
#upload-audio:hover {
    background: darken(var(--main-color), 10%);
}

.encryption-box textarea {
    width: 200%;
    border: none;
    background: transparent;
    resize: none;
    font-size: 1.2rem; /* Reduced font size */
    color: var(--text-color);
    text-align: center;
}

#encrypted-output {
    height: 150px; /* Adjusted height */
}
#email-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 100%; /* Ensure it takes up full width of the parent */
}

#email-input {
    font-size: 1.5rem; /* Reduced font size */
    padding: 0.5rem;
    border: 2px solid var(--main-color);
    border-radius: 0.3rem;
    background: var(--bg-color);
    color: var(--text-color);
    width: 80%;
    max-width: 300px; /* Reduced max-width */
}

#send-email-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem; /* Reduced font size */
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    background: var(--main-color);
    color: #fff;
    transition: background 0.3s;
    text-align: center;
}

#send-email-button:hover {
    background: darken(var(--main-color), 10%);
}

.decryption-section {
    min-height: 200vh; /* Full viewport height */
    padding: 2rem; /* Reduced padding to fit content better */
    background: var(--second-bg-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Hide any overflow */
}

.decryption-section .heading {
    font-size: 7rem; /* Reduced font size */
    margin-bottom: 5rem; /* Reduced margin */
    margin-top: 5rem;
}

.decryption-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5rem solid var(--main-color);
    border-radius: 1.0rem;
    padding: 2rem; /* Reduced padding */
    background: var(--bg-color);
    position: relative;
    text-align: center;
    width: 100%; /* Adjusted width */
    max-width: 1000px; /* Reduced max-width */
    height: auto;
    overflow: hidden; /* Hide overflow */
}

#process-decryption-button{
    margin-top: 6rem; /* Adjusted margin for uniform spacing */
    padding: 0.8rem 1.5rem;
    font-size: 2rem; /* Reduced font size */
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    background: var(--main-color);
    color: #fff;
    transition: background 0.3s;
    text-align: center;
}
#download-decrypted-file {
    margin-top: 1rem; /* Adjusted margin for uniform spacing */
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem; /* Reduced font size */
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    background: var(--main-color);
    color: #fff;
    transition: background 0.3s;
    text-align: center;
}

#process-decryption-button:hover,
#download-decrypted-file:hover {
    background: darken(var(--main-color), 10%);
}

#upload-key1{
    display: none;
}

#upload-key-label1{
    margin-top: 3rem; /* Reduced margin for consistency */
    padding: 0.5rem 1rem;
    font-size: 2rem; /* Reduced font size */
    border: 2px solid var(--main-color);
    border-radius: 0.3rem;
    background: var(--bg-color);
    color: var(--main-color);
    cursor: pointer;
    transition: background 0.3s;
}
#upload-audio {
    margin-top: 1rem; /* Reduced margin for consistency */
    padding: 0.5rem 1rem;
    font-size: 2rem; /* Reduced font size */
    border: 2px solid var(--main-color);
    border-radius: 0.3rem;
    background: var(--bg-color);
    color: var(--main-color);
    cursor: pointer;
    transition: background 0.3s;
}

#upload-key-label1:hover,
#upload-audio:hover {
    background: darken(var(--main-color), 10%);
}

.decryption-box textarea {
    width: 300%;
    border: none;
    background: transparent;
    resize: none;
    font-size: 1.2rem; /* Reduced font size */
    color: var(--text-color);
    text-align: center;
}

#decrypted-output {
    height: 150px; /* Adjusted height */
}


.modulation-section {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modulation-section .heading {
    font-size: 7rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.modulation-section.heading span {
    color: var(--highlight-color);
}

.modulation-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .5rem solid var(--main-color);
    border-radius: 1.0rem;
    padding: 5rem;
    background: var(--bg-color);
    position: relative;
    text-align: center;
    width: 80%;
    max-width: 900px;
}

.modulation-options {
    margin-bottom: 2rem;
}

.modulation-options button, .modulation-controls button {
    margin-top: 2rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    background: var(--main-color);
    color: #fff;
    transition: background 0.3s;
}

.modulation-controls {
    margin-bottom: 2rem;
}

.modulation-controls label {
    font-size: 2rem;
    margin-right: 1rem;
}

.modulation-controls input,
.modulation-controls select {
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 1px solid var(--main-color);
    border-radius: .3rem;
}

#download-modulated-file:hover {
    background: darken(var(--main-color), 10%);
}

.output-box {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}


/* Styling for the new Pitch Shifting Page button */
#pitch-shifting-page {
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    background: var(--main-color);
    color: #fff;
    transition: background 0.3s;
    text-align: center;
}

#pitch-shifting-page:hover {
    background: darken(var(--main-color), 10%);
}

.modulation-options {
    margin-bottom: 2rem;
}

.modulation-options label {
    font-size: 2rem;
    margin-right: 1rem;
}

.modulation-options input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 0.5rem;
    background: var(--main-color);
    border-radius: 0.5rem;
    outline: none;
    margin-right: 1rem;
}

.modulation-options input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    background: var(--highlight-color);
    border-radius: 50%;
    cursor: pointer;
}

.modulation-options input[type="range"]::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    background: var(--highlight-color);
    border-radius: 50%;
    cursor: pointer;
}

#steps-value {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
}
button{
    margin-top: 2rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    background: var(--main-color);
    color: #fff;
    transition: background 0.3s;
}
.output-box1 {
    width: 100%; 
    padding: 1rem; 
    background-color:  var(--bg-color);
    border-radius: 8px; 
    border: 1px solid #ddd; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1rem; 
}

textarea#audio-output {
    width: 100%; 
    height: 40px;
    border: none;
    background: transparent; 
    resize: none;
    font-size: 2rem; 
    color: var(--text-color); 
    box-sizing: border-box; 
    overflow: hidden; 
    white-space: pre-wrap; 
    word-wrap: break-word; 
    line-height: 1.5; 
    padding: 1rem;
    background-color:var(--bg-color); 
}


@keyframes homeBgText {

    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}
